<div class="fine">  
  <div class="offender-row row">
    <div class="col-md-6">
      <span class="offender">Offender: <%= fine.offender.username %></span>
    </div>
    <div class="col-md-6 is-right-text">
      Yes: <%= fine.number_of_yes_votes %>
      No: <%= fine.number_of_no_votes %>
      <% if logged_in? %>        
        <span class="fine-links">
          <% if current_user.voted?(fine) %>
            <% if current_user.voted_yes?(fine) %>        
              <%= image_tag('thumbs-up-grey.png', :size => '16x16') %>
              <div class="thumbs-adjustment is-right-aligned">
                <%= link_to image_tag('thumbs-down.png', :size => '16x16'), down_fine_votes_path(fine), :class => "no-hover" %>
              </div>                        
            <% else %>
              <%= link_to image_tag('thumbs-up.png', :size => '16x16'), up_fine_votes_path(fine), :class => "no-hover" %>
              <div class="thumbs-adjustment is-right-aligned">
                <%= image_tag('thumbs-down-grey.png', :size => '16x16') %>
              </div> 
            <% end %>
          <% else %> 
            <%= link_to image_tag('thumbs-up.png', :size => '16x16'), up_fine_votes_path(fine), :class => "no-hover" %>
            <div class="thumbs-adjustment is-right-aligned">
              <%= link_to image_tag('thumbs-down.png', :size => '16x16'), down_fine_votes_path(fine), :class => "no-hover" %>
            </div>             
          <% end %>
        </span>
      <% end %>
    </div>
  </div>
  <div class="fine-info-row row">
    <div class="col-md-8">
      <div class="description">
        <%= fine.description %>
      </div>
    </div>
    <div class="col-md-4">
      <div class="amount is-right-text">
        R<%= fine.amount %>
      </div>
    </div>
  </div>
  <div class="bottom-row row">
    <div class="col-md-6">
      <%= fine.date.to_date %>  
      <div class="proposer">
      Proposer: <%= fine.proposer.username %>
      </div>         
    </div>
    <div class="col-md-6 is-right-text">
      <div>
        <% if logged_in? && is_admin? %>
          <span class="fine-links">
            <%= link_to image_tag('edit-icon.png', :size => '16x16'), edit_fine_path(fine), :class => "no-hover" %>
            <%= link_to image_tag('delete-icon.png', :size => '16x16'), fine, method: :delete, data: { confirm: 'Are you sure?' }, :class => "no-hover" %>  
          </span>
        <% end %>
      </div>
      Status: <%= fine.status %>
    </div>
  </div>
</div>